.row {
  display: flex;
}

.sign-up-card {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 80px;
}

.sign-up-header {
  background-color: #3f51b5;
  padding-left: 12em;
  padding-bottom: 1em;
  color: #fff;
}

.sign-up-title {
  font-size: 24px;
  font-weight: bold;
}

.sign-up-content {
  padding: 24px;
}

button.full-width {
  background-color: #3f51b5;
}
